@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font: normal 18pt arial;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {

    background-image: linear-gradient(to bottom, black, black, red);
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding-top: 200px;
}

header > h1 {
    font-size: 2em;
    background-color: white;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
}

main {
    width: 500px;
    margin: auto;
    text-align: center;
    
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.466);
    
}

section {
    text-align: center;
    margin: auto;

}



footer {
    padding-top: 50px;
}
